/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
}

body {
  margin-top: 100px;
  font-family: Arial, sans-serif;
  background: rgb(171, 99, 114);
  background: -moz-radial-gradient(
    circle,
    rgba(171, 99, 114, 1) 0%,
    rgba(120, 174, 201, 1) 82%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(171, 99, 114, 1) 0%,
    rgba(120, 174, 201, 1) 82%
  );
  background: radial-gradient(
    circle,
    rgba(171, 99, 114, 1) 0%,
    rgba(120, 174, 201, 1) 82%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ab6372",endColorstr="#78aec9",GradientType=1);
}

/* Navbar Styling */
.navbar {
  margin-top: -100px;
  width: 100%;
  display: flex;
  justify-content:space-around;
  align-items: center;
  padding: 20px;
  background: rgb(138, 41, 62);
  background: linear-gradient(
    90deg,
    rgba(138, 41, 62, 1) 0%,
    rgba(51, 97, 120, 1) 100%
  );
  color: white;
  position: fixed;
  height: 100px;
  transition: 0.4s;
  z-index: 99;
}

.navbar .logo {
  font-size: 1.5rem;
  transition: 0.4s;
  font-weight: bold;
  margin-top: 8px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.nav-links a:hover {
  color: #ae485e;
  transition: 0.4s;
}

/* Footer Styling */
.footer {
  background-color: rgb(73, 73, 73);
  color: white;
  padding: 40px 20px;
  font-size: 20px;
}
.footer h4{
  color: #ae485e;
  font-size: 22px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 20px;
}

.footer-section {
  flex: 1;
  min-width: 200px;
}

.footer-section h4 {
  font-size: 16px;
  margin-bottom: 15px;
}

.footer-section p {
  line-height: 1.5;
  margin: 5px 0;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-section ul li a {
  text-decoration: none;
  color: white;
}

.footer-section ul li a:hover {
  color: #336178;
  font-size: larger;
  transition: 0.4s;
}

/* Subscribe Section */
.footer-section input {
  width: calc(100% - 110px);
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

.footer-section button {
  width: 100px;
  padding: 10px;
  border: none;
  background-color: #336178;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.footer-section button:hover {
  background-color: #16445b;
  transition: 0.4s;
}

/* Social Links */
.social-links {
  gap: 15px;
}

.social-links a i {
  color: white;
  height: 70px;
  margin: 10px;
}

.social-links a :hover{
  color:#336178;
  transition: 0,4s;
}

 
